
.toggle-button {
    all:unset;
}

.hover-text span {
    visibility: hidden;
    width: fit-content;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.94);
    color: aqua;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 35px;
    right: 75px;
}

.hover-text:hover span {
    visibility: visible;
}