 .home {
    display: grid;
    grid-template-columns: 40% 10% 30% 20%;
    margin-top: 15%;
    padding-bottom: 2%;
    background-image: url("/public/standing-wall.png");
    background-size: 18% 33%;
    background-repeat: no-repeat;
    background-position: 100% 95%;
 } 

.home .home-title {
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    align-items: center;
    margin-left: 4%;
    height: 90%;
}

.home .home-title h2 {
    height: 80%;
    display: grid;
   font-size: 70px;
   color:  #1e1e1e;
   text-shadow: 
       0 0 7px #fff,
       0 0 10px #fff,
       0 0 21px #fff,
       0 0 42px #fff,
       0 0 82px #fff,
       0 0 92px #fff,
       0 0 102px #fff,
       0 0 151px #fff;     
}

.home .home-title h2 span {
    height: fit-content;
}

.home .home-title a {
    grid-row: 2;
    justify-self: center;
    width: 75%;
    height: 60px;
}

.home .home-button {
    font-size: 18px;
    width: 100%;
    height: 50px;
}

.home .calendar {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

