 .home {
    display: grid;
    grid-template-columns: 40% 15% 30% 15%;
    font-family: PoiretOne;
    
 } 
.calendar {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    width: 90%;
    height: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: .22fr .15fr auto;
}

.calendar h1 {
    grid-column: span 7;
    justify-self: center;
    text-decoration: underline;
    height: fit-content;
}

.calendar-week {
    height: fit-content;
}

.calendar-buttons{
    grid-column: span 7;
}

.calendar-cell {
    border: 1px solid #FDFEFF;
    display: grid;
    align-items: center;
    background-color: #fdfeff7d;
}
.calendar-cell.today {
    background-color: rgba(0, 0, 0, 0.718);
    border: 3px solid aqua;
}
.calendar-cell.today span {
    color: #FDFEFF ;
}

.calendar-cell span {
    font-size: 20px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.home .home-title {
    grid-column: 1;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 55% 45%;
    margin-left: 10%;
}

.home .home-title h2 {
    display: grid;
   font-size: 70px;
   color:  #1e1e1e;
   text-shadow:
       0 0 7px #fff,
       0 0 10px #fff,
       0 0 21px #fff,
       0 0 42px #fff,
       0 0 82px #fff,
       0 0 92px #fff,
       0 0 102px #fff,
       0 0 151px #fff;     
}

.home .home-button {
    color: #F9FBFF;
    font-size: 18px;
    font-family: PoiretOne;
    width: 40%;
    height:20%;
    border: 1px solid white;
    box-shadow:  
    0 0 0.1vw 0.2vw #F9FBFF,
    0 0 0.4vw 0.1vw #fff,
    0 0 1vw .1vw #F9FBFF;
    background-color: rgba(0, 0, 0, 0.734);
}

.home .squares {
    grid-column: 2/4;
    grid-row: 3;
}