.nav {
    position: fixed;
    top: 7%;
    right: 15px;
    z-index: 500;
    font-family: PoiretOne;
}

.nav button {
    all:unset;
    display: flex;
    flex-direction: column;
    justify-content: right;
    row-gap: 3px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 10px;
    top: 20px;  
}

.nav button:hover {
    cursor: pointer;
    border: none;
}

.nav-hr {
  position: relative;
  right: 8px;
  margin: 0 20px 0 0;
  width: 80%;
  border: 2px solid black;
}

.nav nav {
    width: 150px;
    height: 55vh;
    display: grid;
    grid-template-rows: repeat(4, 22%) 12%;
    justify-items: center;
    align-items: center;
    z-index: 300;
}

.nav nav a {
    text-decoration: none;
    border-bottom: solid .5px ;
    padding-bottom: 10%;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    font-size: 24px;
    margin-top: 10%;
    color:  #FDFEFF;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff; 
}

.dark .nav-hr {
  border: 2px solid white;
}

/* 
-slider switch for darkmode
- https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(39, 39, 137);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 3px rgb(152, 152, 194);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    height: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }