.userInfo {
    color: #F9FBFF;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin-left: 2%;
    position: relative;
    /* top: 2%; */
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.userInfo svg {
    grid-column: 1;
    grid-row: 1/3;
}

.userInfo span {
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.734) ;
    padding: 5px;
}

.userInfo button {
    grid-column: 2;
    grid-row: 2;
    width: 70%;
    height: 60%;
    font-size: 18px;
}

.dark .userInfo {
    color: aqua;
    text-shadow: 0px 0px 10px #FDFEFF ;
    border:#F9FBFF 2px solid;

}

.dark .userInfo span {
    background-color: rgb(3, 3, 23) ;
}