.bonus {
    margin-top: 10%;
    font-family: fantasy;
    width: 80%;
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 10%;
    justify-items: center;
}

.bonus-word {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 50px;
}

.bonus-word p {
    
}

.bonus-word p span {
   border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.alphabet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    row-gap: 10%;
    justify-items: center;
}

.alphabet button {
    border: 2px solid aqua;
    height: 60px;
    width: 60px;
    font-size: 40px;
    text-align: center;
}